$default-font: "Raleway", sans-serif;
// $accent: #F0650D;
$accent: #26c0eb;
$text: #293A43;
// $overlay: #293A43;
$overlay: #212529;
// $bg-first: #293A43;
$bg-first: #212529;
$bg-second: #EDEDED;
// $btn-bg: #4B5A65;
$btn-bg: #4e5760;
$btn-text: #fff;
$form-text: #65717c;
$footer-text: #65717c;
// $footer-text: #6d7a87;
$gutter: 20px;
