@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: lighten($bg-first, 40%);
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: none;
		outline: none;
		padding: 12px 20px;
		width: 100%;
		font-size: 16px;
		font-style: italic;
		color: lighten($form-text, 25%);
		background-color: lighten($bg-first, 10%);
		transition: background-color .25s ease;
		&:focus{
			background-color: $bg-second;
			color: $text;
		}
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			// border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

p{
	margin: 1em 0;
}

.grid{
	display: grid;
}

.btn{
	display: inline-block;
	border: none;
	color: $btn-text;
	text-decoration: none;
	background-color: $btn-bg;
	padding: 12px 60px;
	font-size: 20px;
	font-weight: 800;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	cursor: pointer;
	&:focus, &:hover{
		text-decoration: none;
		color: $btn-text;
	}
	&:hover{
		background-color: lighten($btn-bg, 5%);
		&::after{
			opacity: .22;
		}
	}
	&:active{
		background-color: darken($btn-bg, 5%);
		&::after{
			opacity: .32;
		}
	}
	&_accent{
		background-color: $accent;
		&:hover{
			background-color: lighten($accent, 5%);
		}
		&:active{
			background-color: darken($accent, 5%);
		}
	}
}

.header{
	position: relative;
	min-height: 100vh;
	// background: url('../img/0-header.jpg') center no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	align-content: center;
	&::before{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $overlay;
		opacity: .92;
	}
	&__content{
		color: #fff;
		text-align: center;
		padding: 60px $gutter;
		z-index: 1;
	}
	&__title{
		font-family: "Intro", sans-serif;
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 20px 0;
		line-height: 1.5;
	}
	&__btn{
		margin: 10px;
		min-width: 210px;
	}
}

.portfolio{
	padding: 10px;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	&__item{
		min-height: 32vh;
		background-size: cover;
		background-position: center;
		text-align: center;
		align-content: center;
		padding: $gutter;
		font-size: 20px;
		font-weight: bold;
		color: #fff;
		position: relative;
		transition: color .5s ease;
		cursor: pointer;
		&:hover{
			color: $accent;
			&::before{
				opacity: .85;;
			}
		}
		&::before{
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $overlay;
			opacity: .65;
			transition: opacity .5s ease;
		}
		&>*{
			z-index: 1;
		}
		&:nth-child(1){
			grid-column: 1 / 3;
		}
		&:nth-child(5){
			grid-column: 2 / 4;
		}
		&:nth-child(6){
			grid-column: 4;
			grid-row: 2 / 4;
		}
	}
}

.btn-wrapper{
	grid-column: 1 / 5;
	padding: $gutter $gutter 50px;
}

.container{
	max-width: 1200px;
	margin: auto;
	padding: 0 $gutter;
}

.content{
	padding: 80px 0;
	&__title{
		font-size: 34px;
		font-weight: 800;
		line-height: 1.2;
	}
}

.ready{
	background-color: $bg-second;
	.container{
		grid-template-columns: 1fr 1fr;
	}
	&__title{
		margin-bottom: 30px;
	}
	&__text{
		line-height: 32px;
	}
	&__left{
		border-right: 1px solid #dadada;
		font-size: 18px;
		padding: 0 60px 60px 0;
	}
	&__right{
		padding-left: 30px;
	}
}

.form-wrapper{
	padding: 30px 0;
	background-color: $bg-first;
}

.form{
	grid-gap: $gutter;
	grid-template-columns: repeat(4, 1fr);
	.btn{
		font-size: 16px;
	}
}

.blog{
	&__home{
		grid-gap: $gutter;
		grid-template-columns: repeat(4, 1fr);
	}
	&__title{
		margin-top: 0;
		margin-bottom: 50px;
	}
	&__item{
		background-color: #f7f7f7;
		color: $text;
		text-decoration: none;
		grid-template-rows: 1fr 1fr;
		transition: background-color .25s ease;
		overflow: hidden;
		&:nth-child(3){
			grid-column: 3 / 5;
		}
		&:nth-child(4){
			grid-column: 1 / 3;
		}
		&:hover{
			background-color: $bg-second;
			.blog__item-title{
				color: $text;
			}
			.blog__item-img{
				transform: scale(1.1) translateY(-12px);
			}
		}
		&-img{
			height: 270px;
			background-size: cover;
			background-position: center;
			transition: transform .25s ease;
		}
		&-content{
			padding: 25px;
			text-align: center;
			align-content: center;
		}
		&-title{
			font-size: 18px;
			line-height: 1.3;
			color: lighten($text, 15%);
			transition: color .25s ease;
		}
		&-text{
			margin-bottom: 0;
		}
	}
	.btn-wrapper{
		padding-bottom: 0;
	}
}

.footer{
	padding: 60px 0;
	background-color: $bg-first;
	text-align: center;
	color: $footer-text;
	line-height: 1.16;
	&__logo{
		font-family: "Intro", sans-serif;
		font-size: 22px;
		
		text-transform: uppercase;
	}
	&__logo-accent{
		display: block;
		color: lighten($footer-text, 15%)
	}
	&__copy{
		font-size: 20px;
		font-weight: 700;
		margin-top: 20px;
	}
}

@import "media"; // Always at the end
